.pincode-input {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 3px;
  border: 2px solid gray;
  text-align: center;
  font-size: 1.5rem;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  &#{&}--focused {
    border-color: #000;
  }
  &#{&}--filled {
    border-color: dodgerblue;
  }
}
